.dash {
	column-gap: 20px;
}
.navSpacer {
	height: 70px;
}
.row {
	padding: 10px;
	border: 1px solid black;
}
#profileImage {
	margin: 0 15px 0 0;
	vertical-align: middle;
	width: 150px;
}
h3 {
	margin: 0 0 10px;
	padding: 0 5px;
	background-color: #00b2389e;
	color: black;
}
.profileRow {
	display: grid;
	grid-template-columns: auto 1fr;
}
.connections {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
}
.connections img {
	width: 75px;
	height: 75px;
	padding: 2px;
	border: 1px solid black;
}
.connections p {
	text-align: center;
}