@charset "ISO-8859-1";

table{
	width: 100%;
	margin: 10px 0 0 0;
}
table th, table td {
	border:2px solid black;
	padding:2px;
	text-align: center;
}
table th {
	font-size: 18px;
}
table .lgCol {
	width: 24%;
}
table .smCol {
	width: 8%
}
.jobForms{
	padding:2px;
	margin:5px;
}
/* h1{
	background-color:green;
} */
h2{
	background-color: #00b238;
}
.header {
	margin: 50px 0 20px 0;
}

table th{
	background-color: #00b2389e;
}
.jobForms .companyForm input, .jobForms .jobForm input, .jobForms .companyForm select, .jobForms .jobForm select {
	width: 370px;
	margin: 10px 0 0 0;
	padding: 5px;
	border-radius: 0%;
	font-size: 15px;
}
.jobForms .companyForm select, .jobForms .jobForm select, .jobForms .jobForm .number {
	width: 185px;
}
.jobForms .jobForm select {
	box-shadow: 1px 1px 2px black;
}
.jobForms .companyForm .submit, .jobForms .jobForm .submit {
	background-color: #00b138;
	color: white;
}
.jobListings h1 {
	margin: 50px 0 0 0;
	padding: 0 10px;
}
button {
	padding: 4px 5px;
}