
/* DO NOT TOUCH THIS STYLESHEET. CREATE A NEW STYLESHEET SPECIFICALLY FOR YOUR JSP PAGE AND ADD A LINK TO IT IN THE HEAD */

/* NORMALIZATION */

* {
	margin: 0;
	padding: 0;
}

/* DO NOT TOUCH THIS STYLESHEET. CREATE A NEW STYLESHEET SPECIFICALLY FOR YOUR JSP PAGE AND ADD A LINK TO IT IN THE HEAD */

/* WRAPPER */

.wrapper {
	width: 1200px;
	margin: auto;
}

/* DO NOT TOUCH THIS STYLESHEET. CREATE A NEW STYLESHEET SPECIFICALLY FOR YOUR JSP PAGE AND ADD A LINK TO IT IN THE HEAD */

/* NAV */

.nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
	margin: 0 0 10px 0;
	background-color: #00b138;
}
	.nav2 {
		align-self: center;
		justify-self: right;
	}

/* DO NOT TOUCH THIS STYLESHEET. CREATE A NEW STYLESHEET SPECIFICALLY FOR YOUR JSP PAGE AND ADD A LINK TO IT IN THE HEAD */

/* REGISTRATION */

.registration {
	display: grid;
	justify-items: center;
}
.registration .welcome {
	margin: 100px 0 0 0;
}
.registration .form {
	display: grid;
	justify-items: center;
}
.registration .blurb {
	width: 900px;
	margin: 40px 0 40px 0;
	font-size: 18px;
	text-align: center;
	color: #666666;
}
.registration .input {
	width: 370px;
	margin: 10px 0 0 0;
	padding: 5px;
	border-radius: 0%;
	font-size: 15px;
}
.registration .submit {
	background-color: #00b138;
	color: white;
}
.registration .already {
	margin: 10px 0 0 0;
}

/* DASH */

.dash {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	padding: 20px;
}
	.dash .col1 {
		display: grid;
		row-gap: 20px;
	}
	.dash .col2 {
		display: grid;
		row-gap: 20px;
	}

/* JOBS */

.jobForms {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* CONNECTIONS */

.connections {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	padding: 20px;
}
	.connectionscol1 {
		display: grid;
		row-gap: 20px;
	}
	.connectionscol2 {
		display: grid;
		row-gap: 20px;
	}





/* MEDIA QUERIES */

@media only screen and (max-width:1200px) {
	.wrapper {
		width: 100%
	}
}

@media only screen and (max-width:768px) {
	.dash {
		grid-template-columns: 1fr;
	}
	.jobForms {
		grid-template-columns: 1fr;
	}
}
