* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 1200px;
	margin: auto;
}

.nav {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 5px;
	background-color: green;
}

.dash {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.jobForms {
	display: grid;
	grid-template-columns: 1fr 1fr;
}



@media only screen and (max-width:1200px) {
	.wrapper {
		width: 100%
	}
}

@media only screen and (max-width:600px) {
	.dash {
		grid-template-columns: 1fr;
	}
	.jobForms {
		grid-template-columns: 1fr;
	}
}